<footer class="footer">
  <small>
    <a href="http://www.luxiar.com/">LUXIAR Co., Ltd.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "会社概要", "http://www.luxiar.com/aboutus.html" %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>