<footer class="footer">
  <small>
    <a href="http://www.luxiar.com/">LUXIAR Co., Ltd.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('default.titles.company_info'), "http://www.luxiar.com/aboutus.html" %></li>
      <li><%= link_to t('default.titles.contact_us'), contact_path %></li>
    </ul>
  </nav>
</footer>