<p><%= @resource.nickname %> 様</p>

<p>アカウント作成を完了させるには以下のリンクをクリックしてください。</p>

<p><%= link_to t('user.confirm_my_account'), user_confirmation_url(@resource, confirmation_token: @token) %></p>

<p>こちらのメールに心当たりが場合は、無視してください。</p>

<!--
<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to t('user.confirm_my_account'), user_confirmation_url(@resource, confirmation_token: @token) %></p>
-->