<p><%= @resource.nickname %>　様</p>

<p>パスワード変更申請が行われました。 変更を行うには以下のリンクをクリックしてください。</p>

<p><%= link_to t('user.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>こちらのメールに心当たりが場合は、無視してください。</p>
<p>新しいパスワードを設定するまではパスワードは変更されません。</p>

<!--
<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to t('user.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
-->
